.container{
    background-color: rgb(0, 255, 242);
    position: relative;
    left: calc(50vw - 300px);
    height: 300px;
    width: 600px;
}
.time,.name,.amount{
    background-color: #fff;
    padding:0 5px;
    width: 120px;
    line-height: 30px;
    border: 1px solid black;
    text-align: center;
    margin: 20px;
    box-sizing: border-box;
}
.time{
    
    border: 3px solid green;
}
.img{
    position: relative;
    top: 35px;
    left: 50px;
}
.form{
    position: relative;
    top: 10px;
    left: 100px;
}
.img,.form{
    display: inline-block;
    
}
.name,.amount{
    display: block;
     
}
.button,.stop{
    position: relative;
    left: 45px;
    width: 60px;
    height: 30px;
    border:0;
    background-color:#003C9D;
    color:#fff;
    border-radius:5px;
    cursor:pointer;
}
.stop{
    display: none;
}
.button:hover{
    background-color:#fff;
    color:#003C9D;
}
.add,.reduce{
    background-color: #fff;
    position: absolute;
    display: inline-block;
    border: 1px solid black;
    font-size: 30px;
    width: 40px;
    height: 40px;
    cursor:pointer;
    text-align: center;
    line-height: 40px;
    top: 50px;
}
.add{
    right: 10px;
}
.reduce{
    left: 10px;
}
.sum{
    position: relative;
    top: 18px;
    font-size: 60px;
}
.box{
    position: absolute;
    top: 55px;
    left: 180px;
    height: 150px;
    width: 200px;
    background-color: rgb(167, 160, 160);
    display: none;
    z-index: 2;
    text-align: center;
}
.action{
    font-size: 20px;
}
.confirm{
    position: absolute;
    bottom: 5px;
    left: 70px;
    width: 60px;
    height: 40px;
    border: 1px solid black;
    cursor:pointer;
    text-align: center;
    padding: auto;
    line-height: 40px;
    background-color: #fff;
}
.close{
    position: absolute;
    font-size: 30px;
    right: 3px;
    top: -5px;
    cursor: pointer;
}
.preorder{
    position: absolute;
    top: 6px;
    right: 10px;
}